@font-face {
    font-family: 'PingFang SC Heavy';
    src: url('/PINGFANG HEAVY.ttf');
  }

/* 添加 fadeIn 动画 */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.frame-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .frame {
    position: relative;
    width: 616px;
    height: 320px;
    background: #FFFFFF;
    border-radius: 50px;
  }
  
  .text-input {
    position: absolute;
    width: 252px;
    height: 50px;
    left: 80px;
    top: 40px;
    font-family: 'PingFang SC Heavy';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #7C7C7C;
  }
  
  .button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 80px;
    gap: 10px;
    position: absolute;
    width: 172px;
    height: 66px;
    left: 364px;
    top: 214px;
    background: linear-gradient(275.71deg, #6DC5D9 -3.09%, #9EE2FF 192.8%);
    border: 2px solid rgba(109, 197, 217, 0.5);
    box-shadow: -4px -4px 15px #FFFFFF, 4px 4px 10px #9CC6D9;
    border-radius: 15px;
  }
  
  .button-text {
    width: 36px;
    height: 50px;
    font-family: 'PingFang SC Heavy';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .input-field {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 80px;
    gap: 10px;
    position: absolute;
    width: 456px;
    height: 69px;
    left: 80px;
    top: 109px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(217, 217, 217, 0.5);
    box-shadow: -4px -4px 15px #FFFFFF, 4px 4px 10px #D9D9D9;
    border-radius: 15px;
  }

  .loading-animation {
    animation: loading-spin 1s linear infinite;
  }
  
  .circle-container {
    position: relative;
    width: 38px;
    height: 38px;
  }
  
  .circle-bottom {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #6DC5D9;
    border-radius: 50%;
  }
  
  .circle-ring {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(from 180.16deg at 50% 50%, #FFFFFF 0deg, rgba(217, 217, 217, 0) 1.8deg, #FFFFFF 360deg);
    border-radius: 50%;
  }
  
  .circle-dot {
    position: absolute;
    left: 43.56%;
    right: 44.66%;
    top: 88.22%;
    bottom: 0%;
    background-color: #FFFFFF;
    border-radius: 50%;
  }
  
  @keyframes loading-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }